<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />

    <application>
        <service
            android:name=".NotificationService"
            android:enabled="true"# 1. Инициализируем Git
        git init

        # 2. Проверяем статус
        git status

        # 3. Добавляем все файлы в staging area
        git add .

        # 4. Делаем первый коммит
        git commit -m "Initial commit"

        # 5. Добавляем remote репозиторий организации
        git remote add origin https://github.com/AndroidStudio-Practices/Practice31.git

        # 6. Пушим изменения
        git push -u origin master

        android:exported="false" />

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>